/* Main card */
.mytask-main-div {
  position: relative;
  background-color: #f6f9ff;
  width: 25vw;
  height: 95%;
  border-radius: 8px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

.mytask-title-div {
  height: 13%;
}

.mytask-body-div {
  position: relative;
  border-radius: 10px;
  height: 82%;
  display: flex;
  flex-direction: column;
}

.mytask-body-top {
  padding-top: 10px;
  padding-left: 10px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.mytask-body-top span {
  padding-right: 20px;
}

.mytask-body-top button {
  padding-right: 20px;
  color: #1f4583;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-right: 20px;
  border: none;
  background-color: #f6f9ff;
  cursor: pointer;
}

.mytask-body-top button:hover{
  text-decoration: underline;
}

.mytask-footer-div {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -4%;
  padding-bottom: 0px;
}

.mytask-title-div h2 {
  color: #1f4583;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 500;
  padding-left: 10px;
}

.mytask-body-bot {
  padding: 10px;
}

.mytask-footer-div a {
  color: #00255d;
  text-decoration: none;
  font-size: 14px;
  margin-top: 5%;
}

.mytask-footer-div a:hover {
  color: #01204e;
  font-weight: 500;
}

