input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

label,
option,
select {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #757575;
}

input,
option,
select {
  width: 280px;
  margin-bottom: 20px;
  height: 36px;
  border-radius: 6px;
  border: 1px solid gray;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding-left: 10px;
  color: rgb(20, 20, 20);
}

input:focus,
option:focus,
select:focus {
  outline: none !important;
  border-color: #1f4583;
  box-shadow: 0 0 4px #719ece;
}

input:disabled {
  color: #757575;
}

.profile-main-div {
  background-color: #eaefff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-card-div {
  background-color: white;
  border-radius: 8px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 20px;
  padding: 0 26px;
  padding-top: 40px;
  padding-bottom: 10px;
}

.profile-card-mid-form {
  padding: 14px 0px;
  margin-top: 40px;
}

.profile-card-form {
  display: flex;
}

/* .profile-card-mid-form > .profile-mid-right-div {
  display: flex;
  padding: 14px 0px;
  margin-top: 40px;
} */

.profile-mid-right-div {
  margin-left: 40px;
}

.profile-top-img .pofile-img {
  width: 124px;
  max-width: 124px;
  height: 124px;
  max-height: 124px;
}

/* Button styling */
.bot-cancel-btn-act {
  margin-left: 20px;
  padding: 10px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #1f4583;
  background-color: transparent;
  cursor: pointer;
  transition-duration: 0.2s;
}

.bot-cancel-btn-act:hover {
  transition-duration: 0.2s;
  border: 1px solid #1f4583;
  color: white;
  background-color: #1f4583;
  cursor: pointer;
}

.bot-save-btn-act {
  padding: 10px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border-radius: 10px;
  background-color: #1f4583;
  color: white;
  border: 1px solid #1f4583;
  cursor: pointer;
  transition-duration: 0.2s;
}

.bot-save-btn-act:hover {
  transition-duration: 0.2s;
  border: 1px solid #081f46;
  background-color: #081f46;
  cursor: pointer;
}

.profile-card-top-div {
  display: flex;
}

.profile-top-text {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-top-text-btn-change {
  padding-top: 30px;
  color: #002093;
}

.profile-top-text-btn-change button {
  color: #002093;
}

.profile-top-text-btn-remove button {
  color: #646464;
}

.profile-top-text-btn-remove {
  padding-bottom: 30px;
}

.profile-top-text button {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.profile-top-text button:hover {
  text-decoration: underline;
}

.bot-cancel-btn {
  margin-left: 20px;
  padding: 10px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #1f4583;
  background-color: transparent;
  cursor: pointer;
  transition-duration: 0.2s;
}

/* Button inactive state. */
.bot-cancel-btn-inact {
  margin-left: 20px;
  padding: 10px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #bfbfbf;
  background-color: transparent;
  cursor: pointer;
  color: #bfbfbf;
  transition-duration: 0.2s;
}

.bot-save-btn-inact {
  padding: 10px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border-radius: 10px;
  background-color: #646464;
  color: white;
  border: 1px solid #646464;
  cursor: pointer;
  transition-duration: 0.2s;
}

.profile-card-bot-div {
  padding-top: 20px;
}
