.task-details-main-div{
    margin-top: 10px;
    padding: 10px;
    position: relative;
    background-color: #EAEFFF;
    border-radius: 4px;
}

.task-details-title-div h3{
    font-size: 14px;
}

.task-details-progress-div{
    position: absolute;
    right: 0;
    top:30%;
    padding-right: 10px;
}

.task-details-assigned-div img{
    padding-right: 6px;
}

