*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.main-container {
    display: flex;
}

.sidebar {
    background-color:#EAEFFF;
    color: white;
    height: 100vh;
    border-right: 1px solid rgba(39, 50, 56, 0.5); 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.top-section {
    display: flex;
    flex-direction: column;
    /* border: solid 1px black; */
    justify-content: space-between;
    align-items: center;
    height: 35%;
    width: 100%;
    flex: 20%;
}

.manage-bars {
    display: flex;
    height : 60px;
    width: 100%;
    background-color: #273238;
    color: white;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}


.heading {
    height : 60px;
    background-color: #273238;
    color: white;
}


.bars {
    font-size: x-large;
    color: white;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
}

.profile {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10vh;

    /* border: #273238 solid; */
}

.bars:hover {
    font-size: x-large;
    background-color: lightblue;
    color: #EAEFFF;
    transition-delay: 0.1s;
}



.routes {
    display: flex;
    flex: 70%;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    /* border: solid black; */
    width: 98%;
    padding-right: 8%;
    gap: 1%;

}

.list {
    text-decoration: none;
    padding-left: 0;
    align-items: center;
    padding-left: 0;
    transition-delay: 0.1s;
    /* border: solid brown; */
    margin-left: 10%;
    width: 99%;   
    height: 25%;
    display: flex; 
}

.icons {
    flex: 10%;
    margin-left:0% ;
    font-size: 24px;
    color: #646464;
    padding-left: 2px;
    padding-top: 5%;
    /* padding-bottom: 5%; */
    height: 100%;
    /* border: solid 2px black; */
    align-items: fcenter;
}

.icons :hover{
    transform: none;
    height: 100%;
}

.link_text {
    flex: 70%;
    text-decoration: none;
    font-style: Regular;
    font-size: 135%;
    height: 100%;
    /* line-height: 100%; */
    align-self : Right;
    vertical-align: Top;
    color: #646464;
    padding-top: 5%;
    padding-bottom: 5%;
    /* border: solid 1px blue; */
    align-items: center;
}

.list div:hover {
    color:#1F4583;
    transition-delay: 0.1s;
}

.list .icons:hover {
    color:#1F4583;
    transition-delay: 0.1s;
}
/* .list .span{
    display: flex;
    color:#646464;
    border: solid black 1px;
    width: 100%;
    transition-delay: 0.1s;
} */

/* .list.span :hover {
    display: flex;
    color:#1F4583;
    transition-delay: 0.1s;
}

.list.span div:hover {
    color:#1F4583;
    transition-delay: 0.1s;
    height: 100%;
} */

.active{
    display: flex;
    color:#1F4583;
    transition-delay: 0.1s;
    border-right:solid 4px #1F4583;
}

.active div{
    color:#1F4583;
    /* border: solid black 1px; */
    transition-delay: 0.1s;
}

.logout {
    display: flex;
    flex: 70%;
    flex-direction: column;
    justify-content: flex-end;
    height: 10px;
    width: 100%;
    padding-right: 10%;
    margin-bottom: 5%;
}