.task-popup-wrapper {
    position: absolute;
    top: 10%;
    left: 40%;
    width: 25%;
    height: 71%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}

#popup.up {
    visibility:visible;
    opacity: 1;
 }

.task-popup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 16px 30px;
    isolation: isolate;
    position: absolute;
    background: #FFFFFF;
    border-radius: 10px;
    height: 100%;
    z-index: 1;
    padding: 1vh;
    /* overflow-y: scroll; */
    box-shadow: 0px 4px 10px rgba(31, 69, 131, 0.25);
}

.task-popup h2{
    width: 180px;
    height: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #1F4583;
    flex: none;
    flex-grow: 0;
}

.task-popup-inner {
    display: flex;
    flex-direction:column ;
    justify-content: space-around;
    padding-left: 1vw;
    padding-top: 4%;
    width: 90%;
    height: 85%;
    /* border: solid 1px; */
    gap: 1%;
    align-self: center;
}


.task-popup-button {
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 2;
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    border-radius: 8px;
    border: 0;
    color: #000000;
    font-size: large;
}

.task-popup-topic {
    width: fit-content;
    height: 23px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px; 
    color: #273238;
    flex: none;
    order: 0;
    flex-grow: 0;
    /* border: solid 1px; */
    /* align-self: center; */
    text-align: center;
}

.task-popuph3 {
    width: fit-content;
    height: 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #273238;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    /* border: solid 1px orange; */
 }

 .task-popup p {
    width: 98%;
    height: 42px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #646464;
    flex: none;
    flex-grow: 0;
 }

 .task-popup  .task-details{
    /* border: solid 1px; */
    height: fit-content;

 }

 .task-popup  .task-details .task-assignment {
    display: flex;
    flex-direction: row;
    /* border: solid 1px; */
    gap: 5%;
    align-items: center;
 }

 .task-popup  .task-details .task-assignment p {
    padding:0%;
    height: fit-content;
    margin: 0;
    width: fit-content;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #646464;
    flex: none;
    order: 1;
    flex-grow: 0;
 }


 .task-popup-inner .task-date-div {
    display: flex;
    /* border: solid 1px; */
    gap: 1%;
    align-items: center;
 }

 .task-popup-inner .task-date-label{
    width: fit-content;
    height: 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 19px;
    /* identical to box height */
    color: #273238;
    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
    /* border: solid 1px; */
 }





.task-popup-inner .task-popup-status {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2px;
    gap: 10px;
    width: 93px;
    height: 22px; 
    background: #FA6B2D;
    border-radius: 4px;
    flex: none;
    flex-grow: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: white;
}

.task-popup-inner .task-popup-status option {
    background-color: white;
}

.task-calendar {
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.task-popup-inner .task-date {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #646464;
    flex: none;
    flex-grow: 0;
    padding-left:1% ;
}