.tempelate-div {
  display: flex;
  background-color: #eaefff;
}

#blur.up {
  filter: blur(3px);
  opacity: 0.8;
}

.task-project-mid-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 8%;
  margin-top: 10px;
  margin-bottom: 0.5rem;
}

