*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    background-color:#C1C1C1;
    color: white;
    height: 100vh;
    
}

.list {
    display: flex;
}

.icons {
    flex: 30%;
    margin-left:20% ;
}

.link_text {
    flex: 70%;
}