*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading {
    height : 60px;
    background-color: #273238;
    color: white;
}

.main-container {
    display: flex;
}

.sidebar {
    background-color:#EAEFFF;
    color: white;
    height: 100vh;
    border-right: solid grey 1px ;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.top-section {
    display: flex;
    flex-direction: column;
    /* border: solid 1px black; */
    justify-content: space-between;
    align-items: center;
    height: 30%;
    width: 100%;
    flex: 20%;
}

.manage-bars {
    width: 100%;
}

.bars {
    font-size: x-large;
    color: #646464;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
}

.profile {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: #273238 solid; */
}

.bars:hover {
    font-size: x-large;
    background-color: lightblue;
    color: #EAEFFF;
    transition-delay: 0.1s;
}



.routes {
    display: flex;
    flex: 70%;
    flex-direction: column;
    justify-content: flex-start;
    height: 50vh;
    /* border: solid black; */
    width: 90%;
    margin-top: 5vh;
    padding-right: 10%;
}

.list {
    text-decoration: none;
    padding-left: 0;
    align-items: flex-start;
    padding-left: 0;
    transition-delay: 0.1s;
    border-radius :10px;
    
}


.list :hover {
    display: flex;
    background-color: lightblue;
    color: #EAEFFF;
    transition-delay: 0.1s;
}

.active{
    display: flex;
    background-color: lightblue;
    color: #EAEFFF;
    transition-delay: 0.1s;
}

.active div {
    display: flex;
    background-color: lightblue;
    color: #EAEFFF;
    transition-delay: 0.1s;
}

.list .span {
    display: flex;
    /* border: solid black 1px; */
    width: 80%;
    border-radius: 10px;
    margin-left: 10%;
    
}



.icons {
    flex: 20%;
    margin-left:0% ;
    font-size: 24px;
    color: #646464;
    padding-left: 2px;
    border-radius: 10px;
    padding-top: 5%;
    padding-bottom: 5%;

}

.link_text {
    flex: 70%;
    text-decoration: none;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    align-self : Right;
    vertical-align: Top;
    color: #646464;
    border-radius: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
}



.search {
    display: flex;
    justify-content: space-evenly;
}

.search input {
    width: 70%;
}